<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  
  <table class="table">
    <tbody>
      <tr>#ユーザー画像の lint_to </tr>
      <tr><%= f.text_area :title, rows:'5' %></tr>
      <tr>#edit</tr>
      <tr>destroy</tr>
    </tbody>
  </table>
</div>
  
  
  
  
  
  